
@{
    ViewData["Title"] = "Contact Us";
}

	<section class="top-background">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<div class="background-headline">
					<h2>Contact</h2>
					<p>thecaferioltd@gmail.com</p>
					<p>Uttara: +880 1793-929230</p>
					<p>Zigatola: +880 1961-116222</p>
					<p>Mirpur: +880 1407-600700</p>
				</div>
			</div>
		</div>
	</div>
	</section>
	
	<section class="contact_area mb-80 mt-80">
     <div class="container">
         <div class="row">
             <div class="col-sm-12">
			 <h3 class="mb-3">Get In Touch</h3>
                 <form action="" method="post" accept-charset="utf-8">
					<input type="hidden" name="csrf_test_name" value="5fbcda295e2771a2ef439e95ec3bc5ba">                                                                                               
                     <div class="form-row">
                         <div class="form-group col-md-6">
                             <label for="firstname">First Name</label>
                             <input type="text" class="form-control" id="firstname" name="firstname" required="">
                         </div>
                         <div class="form-group col-md-6">
                             <label for="lastname">Last Name</label>
                             <input type="text" class="form-control" id="lastname" name="lastname" required="">
                         </div>
                         <div class="form-group col-md-6">
                             <label for="email">Email Address</label>
                             <input type="email" class="form-control" id="email" name="email" required="">
                         </div>
                         <div class="form-group col-md-6">
                             <label for="phone">Phone</label>
                             <input type="number" class="form-control" id="phone" name="phone" required="">
                         </div>

                         <div class="form-group col-md-12">
                             <label for="comments">Write Your Comments</label>
                             <textarea class="form-control" id="comments" rows="5" name="comments" required=""></textarea>
                         </div>
                     </div>
                     <button type="submit" class="btn btn-success">Send</button>
                 </form>
             </div>
         </div>
     </div>
	</section>
	<section class="location-map-area mb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3 class="mb-3">Zigatola</h3>
				<div class="location-map-inner">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116816.73694111645!2d90.31527192875426!3d23.799993443394385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8caa4beaaab%3A0x7e1bfc60e77fc407!2sThe%20Cafe%20Rio%20Ltd.%20(Zigatola%20Branch)!5e0!3m2!1sen!2sbd!4v1654426129746!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<div class="col-lg-4">
				<h3 class="mb-3">Uttara</h3>
				<div class="location-map-inner">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116816.73694111645!2d90.31527192875426!3d23.799993443394385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c5e9036123db%3A0x5b9296b8f5584790!2sThe%20Cafe%20Rio%20Ltd.%20(Uttara%20Branch)!5e0!3m2!1sen!2sbd!4v1654426196938!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<div class="col-lg-4">
				<h3 class="mb-3">Mirpur</h3>
				<div class="location-map-inner">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.719835326342!2d90.35925232917425!3d23.828559642302366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1c4d7c5d2b7%3A0x4c1877f269ec7712!2sThe%20Cafe%20Rio%20Ltd.%20(Mirpur%20Branch)!5e0!3m2!1sen!2sbd!4v1654426423438!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
	</section>
	